h1 {
    color: rgb(255, 208, 0);
    margin-right: 170px;
    padding-left: 50px;
}
* {
    border:solid;
}

.header * {
    border : solid#08ff29;
}

.header{
background-color: cornflowerblue;
display: flex;
justify-content: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    flex-flow: row-reverse;
    justify-content: end;
}

p,h2{
     text-align: center;
}

body{
    background-color:#00000048;
}

.menu{
    margin-top: 17px;
    padding: 50px;
}

a:link {
    color: rgb(4, 255, 117);
}

a:visited {
    color: rgb(255, 0, 0);
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
}